<div class="sns-links hidden-print">
  {{ with .Site.Params.contact }}
  <a href="{{ . }}">
    <i class="fa fa-envelope"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <a href="https://instagram.com/{{ . }}" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <a href="https://plus.google.com/+{{ . }}" target="_blank">
    <i class="fa fa-google"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <a href="https://facebook.com/{{ . }}" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.github }}
  <a href="https://github.com/{{ . }}" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.gitlab }}
  <a href="https://gitlab.com/{{ . }}" target="_blank">
    <i class="fa fa-gitlab"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.reddit }}
  <a href="https://reddit.com/user/{{ . }}" target="_blank">
    <i class="fa fa-reddit-alien"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.hackernews }}
  <a href="https://news.ycombinator.com/user?id={{ . }}" target="_blank">
    <i class="fa fa-hacker-news"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.youtube }}
  <a href="https://youtube.com/{{ . }}" target="_blank">
    <i class="fa fa-youtube"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <a href="https://linkedin.com/in/{{ . }}" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.keybase }}
  <a href="https://keybase.io/{{ . }}" target="_blank">
    <i class="fa fa-key"></i>
  </a>
  {{ end }}
  <a href="/blog/index.xml" target="_blank">
    <i class="fa fa-rss"></i>
  </a>
  <a data-formkit-toggle="15376e9e24" href="https://embracethered.kit.com/15376e9e24" title="Subscribe to newsletter">
    <i class="fa fa-bell"></i>
  </a>
</div>
